$bg-light: #f8f9fa;
$bg-medium: #e9ecef;
$bg-semidark: #4a4a4a;
$bg-dark: #181818;
$bg-black: #0c0c0c;
$border: #2d2f32;

$color-primary: #007bff;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-info: #17a2b8;
$color-light: #f8f9fa;
$color-dark: #343a40;

:root {
  --color-secondary: #6c757d;
  --color-primary: #007bff;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
}

$gap-xs: 2px;
$gap-sm: 4px;
$gap-md: 8px;
$gap-lg: 12px;
$gap-xl: 24px;
$gap-xxl: 32px;

$border-radius-sm: 8px;
$border-radius-md: 12px;
$border-radius-lg: 16px;
$border-radius-xl: 24px;
$border-radius-xxl: 32px;

@font-face {
  src: url("../../fonts/Favorit-Pro/FavoritPro-Regular.ttf");
  font-family: "Favorit Pro";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("../../fonts/Favorit-Pro/FavoritPro-Bold.ttf");
  font-family: "Favorit Pro";
  font-weight: bold;
  font-style: normal;
}

@font-face {
  src: url("../../fonts/Favorit-Mono/FavoritMono-Regular.ttf");
  font-family: "Favorit Mono";
  font-weight: normal;
  font-style: italic;
}

@font-face {
  src: url("../../fonts/Favorit-Mono/FavoritMono-Bold.ttf");
  font-family: "Favorit Mono";
  font-weight: bold;
  font-style: italic;
}

$font-base: "Favorit Pro", sans-serif;
$font-mono: "Favorit Mono", monospace;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;
