@import "../abstracts/variables";

.panel.github {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: $gap-md;
  background: $bg-semidark;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: lighten($bg-semidark, 5%);
    color: $color-primary;
  }

  .link {
    flex: 1;
    a {
      display: block;
      width: 100%;
      height: 100%;
      color: $color-light;
      font-size: $font-size-md;
      text-decoration: none;
      transition: color 0.2s;

      &:hover {
        color: $color-primary;
      }
    }
  }

  .icon {
    margin-left: $gap-sm;
    pointer-events: none;
    color: $color-light;
    font-size: $font-size-lg;
    display: flex;
    align-items: center;

    svg {
      width: $font-size-lg;
      height: $font-size-lg;
      vertical-align: middle;
    }
  }
}
