@import "../abstracts/variables";

html,
body {
  font-family: $font-base;
  color: #333;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $gap-md;
}

p {
  margin-bottom: $gap-md;
  line-height: 1.5;
}
