@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/reset";
@import "base/typography";
@import "base/utilities";

@import "layout/app-layout";

@import "components/flowboard";
@import "components/flowboard-node";
@import "components/flowboard-edge";

@import "components/debug-console";
@import "components/fps-control";
@import "components/server-status";
@import "components/properties-panel";
@import "components/pipeline-controls";
@import "components/node-catalog";
@import "components/config-panel";
@import "components/name-bar";
@import "layout/panels";
@import "components/logo-panel";

@keyframes gradient-expand {
  0% {
    background-size: 200% 200%;
  }
  100% {
    background-size: 0% 0%;
  }
}

html,
body {
  color-scheme: dark;
  height: 100%;
  padding: $gap-sm;
  background-color: $bg-black;
  color: $color-secondary;
  font-family: $font-base;
  font-weight: 100;

  background-image: radial-gradient(
    circle at center,
    $color-primary 0%,
    $color-dark 35%,
    $bg-black 100%
  );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 0% 0%;

  animation: gradient-expand 1.5s ease-out forwards;
}

button {
  display: flex;
  align-items: center;
  gap: $gap-sm;
  background: none;
  border: none;
  color: $color-light;
  font-size: $font-size-sm;
  font-family: $font-base;
  padding: $gap-sm $gap-md;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover:not(:disabled) {
    color: $color-primary;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.apply-button {
    background: $color-primary;
    color: $color-secondary;

    &:hover {
      background: darken($color-primary, 10%);
    }
  }
}

input {
  padding: 6px 10px;
  border-radius: 10px;
  font-size: $font-size-md;
  text-align: left;
  background-color: $bg-dark;
  color: $color-light;
  box-shadow: none;
  border: 1px solid $border;
  outline: none;
}
